.banner-container{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    height: 800px;
}
.row-style{
    background-image: url("../../assets/3.png");
    background-position: 0% 55%;
    background-size: cover;
    height: 100%;
}
.col-style{
    display: flex;
    align-items: center;
}


.aroma-container{
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    min-height: 300px;

    background-color: #ECEAE3;;
    display: flex;
    align-items: center;

}

.popular-products-container{
    background-image: url("../../assets/4.png"),url("../../assets/5.png");
    background-repeat: no-repeat;
    background-position: 0% 5% ,100% 100%;
    background-size: 18%, 20%;
    padding:65px 0 65px 0;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}