.coffie-container-wrapper{
  background-image:url("../../assets/11.png");
}

.coffeeDetailsContainer {
  max-width: 1320px;
  width: 100%;
  margin: 50px auto;
  background-color: #e5e3dc;
  padding: 20px 50px;

}

.back-to-home-button{
  height:55px;
  font-size:30px;
  display:flex ;
  align-items:center;
  margin-left: 15.3%;
  margin-top: 50px;
  border:0;
  box-shadow: none;
  background-color: transparent;
}
.back-to-home-button:hover{
  background-color: #D2B48C;
}