.footer-extra-style {
  background-image: url("../../assets/13.jpg");
  padding: 60px 0;
  position: relative;
}
.footer-extra-style img {
  width: 75px;
  height: 90px;
  margin-left: 15%;
}
.end-footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: var(--rancho);
  background-image: url("../../assets//24.jpg");
  color: white;
}
.common-footer-part {
  display: flex;
  align-items: center;
  font-family: var(--railway);
}

.send-message-btn {
  font-family: var(--rancho);
  border-radius: 40px;
  font-size: 20px;
  height: 50px;
  margin-bottom: 50px;
}
.input-field-footer:hover{
  box-shadow: 1px 1px 2px 2px black;
  outline: 0;
}
